{% extends "base.html" %}
{% block title %}Sequence {{seq_dir}}{% endblock %}
{% block h1header %}{{seq_dir}}{% endblock %}
{% block content %}
<p>
<a href="/{{archive_file}}">Zip Archive</a>
</p>
{% endblock %}
