<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/solid.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/fontawesome.min.css') }}">
    <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>    
  </head>
  <body class="d-flex flex-column h-100">

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#"><img style="width:40px;height:40px;" src="{{ url_for('static', filename='rpispy_logo_140x140.png') }}" /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Sequences</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/config">Config</a>
          </li>
        </ul>
      </div>
    </nav>

    <!--div class="clearfix"-->
    <div class="container-fluid" style="margin-top:30px">
    <h1>{% block h1header %}default{% endblock %}</h1>
    <!-- Content here -->
    {% block content %}default{% endblock %}
    </div>

    <div class="clearfix"></div>

    <footer class="footer mt-auto py-3">
      <div class="container-fluid text-center">
        <span>www.raspberrypi-spy.co.uk</span>
      </div>
    </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
