{% extends "base.html" %}
{% block title %}Animation Studio{% endblock %}
{% block h1header %}Animation Studio{% endblock %}
{% block content %}
  <div class="row">
  {% for dir in dirs %}
  <div class="card col-lg-3 col-md-4 col-6" style="width:320px">
    <img class="card-img-top" src="/images/{{dir}}/thumb_frame_0001.jpg" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">{{dir}}</h4>
      <div class="row">
      <div class="col">
       <a href="/seq/{{dir}}" class="btn btn-primary btn-sm"><i class="fas fa-eye" aria-hidden="true"></i></a>
       <a href="/seqpreview/{{dir}}" class="btn btn-info btn-sm"><i class="fas fa-video" aria-hidden="true"></i></a>
       <a href="/seqarchive/{{dir}}" class="btn btn-info btn-sm"><i class="fas fa-file-archive" aria-hidden="true"></i></a>
      </div>
      <div class="col text-right">
        <button type="button" class="open-deleteConfirmation btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteConfirmation" data-object="{{dir}}" data-path="/delseq/{{dir}}"><i class="fas fa-trash-alt" aria-hidden="true"></i></button>       
      </div>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>
  
  <!-- The Modal -->
  <div class="modal" id="deleteConfirmation">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Delete Confirmation</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          Are you sure you want to delete <span id="objectref" style="font-weight:bold;">-</span>?
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
          <a href="#" type="button" class="btn btn-danger" id="deletePath">Delete</a>
        </div>

      </div>
    </div>
  </div>

  <script>
  $(document).ready(function(){
    $("#deleteConfirmation").on('show.bs.modal', function (e) {
     var button = $(e.relatedTarget);
     var path = button.data('path');
     var object = button.data('object');
     $(".modal-body #objectref").text( object );
     $(".modal-footer #deletePath").attr("href", path);
    });
  });
  </script>
  
  
{% endblock %}
