{% extends "base.html" %}
{% block title %}Sequence {{seq}}{% endblock %}
{% block h1header %}{{seq}}{% endblock %}
{% block content %}
  <div class="row">
  {% for frame in frames %}
  <div class="card col-lg-2 col-md-3 col-4" style="width:320px">
    <img class="card-img-top" src="/{{seqpath}}/thumb_{{frame}}" alt="Card image" />
    <div class="card-body">
      <p class="card-title">{{frame}}</p>
      <a href="/{{seqpath}}/{{frame}}" class="btn btn-primary btn-sm"><i class="fas fa-eye" aria-hidden="true"></i></a>
      <button type="button" class="open-deleteConfirmation btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteConfirmation" data-object="{{frame}}" data-path="/delframe/{{seq}}/{{frame}}"><i class="fas fa-trash-alt" aria-hidden="true"></i></button>
    </div>
  </div>
  {% endfor %}
  </div>

  <!-- The Modal -->
  <div class="modal" id="deleteConfirmation">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Delete Confirmation</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          Are you sure you want to delete <span id="objectref" style="font-weight:bold;">-</span>?
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
          <a href="#" type="button" class="btn btn-danger" id="deletePath">Delete</a>
        </div>

      </div>
    </div>
  </div>

  <script>
  $(document).ready(function(){
    $("#deleteConfirmation").on('show.bs.modal', function (e) {
     var button = $(e.relatedTarget);
     var path = button.data('path');
     var object = button.data('object');
     $(".modal-body #objectref").text( object );
     $(".modal-footer #deletePath").attr("href", path);
    });
  });
  </script>

{% endblock %}
